.details {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.details-card {
  background: white;
  width: 650px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,.12);
}

.details-card h2 {
  color:#0F766E;
  margin-bottom: 20px;
}

.details-card p {
  margin: 12px 0;
  color: #444;
}

.details-card button {
  margin-top: 25px;
  padding: 12px 20px;
  background:#14B8A6;
  color: white;
  border: none;
  border-radius: 6px;
}

.details-card button:hover {
  background:#0D9488;
}